.header{
	background-color: #035FCA;
	min-height: 100px;
	overflow: hidden;
	margin-bottom: 30px;
}
.logo{
	/*border: 5px solid black;*/
	width: 8%;
	float: left;
	margin: 20px;
}
.logo img{
	border-radius: 60px;
	width: 100%;
}
.menu{
	/*border:5px solid black;*/
	width: 29%;
	float: right;
	margin: 46px 20px;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	background-color: green;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px 9px;
	color: white;
	display: block;
	transition: .5s;
}
.menu ul li:last-child a{
	margin-right: 0px;
}
.menu ul li a:hover{
	color: #A70100;
}
.container{
	/*border: 5px solid black;*/
	margin: 30px 0px;
	overflow: hidden;
}
.image_1{
	/*border: 5px solid red;*/
	width: 48%;
	float: left;
}
.image_1 img{
	width: 100%;
}
.info_1{
	/*border: 5px solid green;*/
	width: 48%;
	padding: 52px 0px;
	margin-left: 53px;
}
.info_1 p{
	text-align: justify;
}
.div_1{
	/*border: 5px solid red;*/
	width: 30%;
	margin-right: 33px;
}
.div_2{
	/*border: 5px solid red;*/
	width: 30%;
	margin:0px 33px;
}
.div_3{
	/*border: 5px solid red;*/
	width: 30%;
	margin-left: 34px;
}
.image_2{
	/*border: 5px solid green;*/
	margin-bottom: 30px;
}
.image_2 img{
	width: 100%;
}
.info_2{
	/*border: 5px solid blue;*/
	margin-top: 30px;
}
.info_2 p{
	text-align: justify;
}
.container div{
	float: left;
}
.contact{
	background-color: pink;
	margin-top:30px;
	overflow: hidden;
}
.contact_1{
	/*border: 5px solid red;*/
	width: 20%;
	margin: 0px 33px;
}
.contact_1 h1{
	text-align: center;
}
.contact_1 p{
	text-align: justify;
}
.birds{
	/*border: 5px solid red;*/
	overflow: hidden;
}
.birds div{
	/*border: 5px solid blue;*/
	width: 17%;
	margin: 0px 5px;
}
.birds div img{
	width: 100%;
}
.birds div:first-child{
	margin-left: 0px;
}
.birds div:last-child{
	margin-right: 0px;
}
.birds div{
	float: left;
}
.contact div{
	float: left;
}
.footer{
	/*border: 5px solid red;*/
	overflow: hidden;
}
.para_1{
	/*border: 5px solid green;*/
	float: left;
}
.para_2{
	/*border: 5px solid blue;*/
	float: right;
}
